.card img{
    margin-left: 70px;
    margin-top: 10px;
}

.card{
    margin: 30px;
    background: whitesmoke;
    transition-property: background;
    transition-duration:1.5s;
    transition-timing-function: linear;
}

.card:hover{
    background: #ff7b29;
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}