.FooterArea{
    width: auto;
    height: 600px;
    background-color: #FBD062;
}

.Content{
    margin-left: 80px;
}
.ContentArea{
    margin-top: 50px;
}

.InputArea{
    margin-left: 100px;
}

.footer{
    margin-top: 170px;
}
.InputArea textarea{
    width: 500px;
   height: 150px;
}